.section-1 {
  min-height: 100vh;
  // display: flex;
  // justify-content: center;
  align-items: center;
  text-align: center;

  
  background-image: linear-gradient(
    to bottom, rgba($color-grey-light-1, .3),
    rgba($color-grey-light-2, .9)), url('~/assets/images/sleep_loss_large.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
////////////////////////
// Header

.ul-nav {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.li-logo {
  margin-right: auto;
}

.li-user-nav {
  font-family: Roboto, sans-serif; 
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;   
  padding: 1rem;
  cursor: pointer;
}

.logo-box {
  display: flex;
  // justify-content: flex-start;
  align-items: center;

}

.logo {
  height: 3.25rem;
  margin-left: 2rem;  
}

// End Header
////////////////////////////

.section-1__heading {
  
}

.title {
  font-family: Roboto, sans-serif; 
  display: block;
  font-weight: 700;
  font-size: 8rem;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 35rem;
}

.subtitle {
  font-weight: 300;
  font-size: 4.2rem;
  color: #fff;
  word-spacing: .5rem;
  padding-bottom: 1.5rem;
}

.links {
  padding-top: 1.5rem;
}