.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  
  background-image: linear-gradient(
    to right, rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),url('../images/sleep_loss_large.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.title {
  font-family: Roboto, sans-serif; 
  display: block;
  font-weight: 300;
  font-size: 10rem;
  color: #fff;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 4.2rem;
  color: #fff;
  word-spacing: .5rem;
  padding-bottom: 1.5rem;
}

.links {
  padding-top: 1.5rem;
}